:root {
  --weight: 400;
  --primary-gradient: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    --secondary-gradient: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight);
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body {
      margin: 0;
     padding: 0;
         background-color: #1A0B2E;
         color: #FFFFFF;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 314px;
}

.heading h1 {
    font-style: bold;
    font-size: 2.8rem;
}

header .gradient-text {
    background: var(--primary-gradient);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.btn {
      background: var(--primary-gradient);
      border-radius: 80rem;
    padding: 12px 16px;
    font-size: 1rem;
    color: #FFFFFF;
    gap: 4px;
}

.btn:hover {
    background: #00FF88;
    color: #000000;
     transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(165, 37, 37, 0.2);
}

.banner {
  width: 1800px;
height: 760px;
    margin: 0 auto;
}

.banner-content {

    background-image: url(../assets/hero-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    padding: 170px 700px;
    
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 550px;

}

.logo-circle {
    background-image: url(../assets/hero-circle.png);
 align-items: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.banner-bg {
    padding: 2.8rem 0;
    margin: 0 auto;
}

.banner-bg-logo {
font-size: 60px;
font-weight: 800;
line-height: 73px;
text-align: center;
text-transform: capitalize;
}

.text {
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
max-width: 7000px;
}

.btn-spotify {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.btn-email {
    background: none;
    background-color: #1A0B2E;
      border-radius: 80rem;
    padding: 12px 20px;
    font-size: 1rem;
    gap: 4px;
    border: 0.5px solid #00FF88;
    color: #00FF88;
    gap: 8px;  
}
.btn-email:hover {
    background: var(--primary-gradient);
    color: #000000;
     transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(165, 37, 37, 0.2);
}
#about-Section {
   width: 100%;
    padding: 80px 20px;
}

.about {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;

}

.About-header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.8;
    margin-bottom: 40px;
    font-weight: 400;
}



hr {
    border: 0;
    height: 1px;
    background-color: #444;
    margin: 60px 200px;
    max-width: auto;
    padding: 0 800px;

}

.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.items {
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.number {
    color: #00FF88;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.label {
    font-size: 1rem;
    opacity: 0.8;
}

.container {
    margin: 0 auto;
    padding: 120px 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #230E3D;

}

.card-header {
    font-weight: 700;
    text-align: center;
}

.Card {
    align-items: center;
    justify-content: center;
    
 display: grid;
 grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-width: 1200px;
  height: 800px;
    margin: 0 auto;
    gap: 20px;
    
}

.Card-container {
background: #351165;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: transform 0.3s ease;
  align-items: center;
    justify-content: center;
}

.Card-container:hover {
    background: var(--primary-gradient);
    color: #000000;
        transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(165, 37, 37, 0.2);
}

.Premium {
    grid-column: span 2;
    grid-row: span 4;
width: 380px;
height: 480px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

    }

    .Mobile {
    grid-column: span 4; 
    grid-row: span 2;
    
    width: 760px;
height: 240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;


    }

    .Global {
       grid-column: span 4; 
    grid-row: span 2;
        width: 760px;
height: 240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;


    }

    .Exclusive {
         grid-column: span 4;   
    grid-row: span 2;
        width: 760px;
height: 240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

    }

    .Rich {
            grid-column: span 2;
    grid-row: span 2;

       width: 380px;
height: 240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;

    }

.Featured-section {
    padding: 40px 200px;
    background-color: #1A0B2E;
    text-align: start;
    justify-content: start;
}
.Featureds {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.Featureds-container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #230E3D;
        height: 400px;
    width: 380px;
    padding: 20px;
    border-radius: 16px;
}

.vedio iframe {
    border-radius: 16px;
    height: 214px;
    width: 380px;
    background-color: #230E3D;
}

.duration {
    margin-top: 8px;
    font-size: 1rem;
   color: #00FF88;
}

.Featureds-container:hover {
    background: var(--primary-gradient);
    color: #000000;
        transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(165, 37, 37, 0.2);
}


.host-section {
    margin: 0 auto;
    padding: 0 60px;

}

.host-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: #230E3D;
}

.host-text{
   font-size: 16px;
font-weight: 400;
text-align: start;
opacity: 0.7;
max-width: 7000px;
}

.social-icons a {

    padding: 10px 5px;

    gap: 30px;
}

footer {
    text-align: center;
    background-color: #230E3D;
      width: auto;
height: 200px;
    margin: 30px auto;

}

.end{
    height: 480px;
    background-image: url(../assets/footer-bg.png);
 align-items: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    justify-content: center;
    gap: 20px;
}
.gradient-text {
    background: var(--primary-gradient);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

.logo {
    padding: 40px;
}


.links a{

    padding: 30px;    
            text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.copyright {
  font-size: 0.8rem;
  opacity: 0.7;
  padding: 30px;

}

@media screen and (max-width: 576px ) {

    .heading {
        align-items: center;
        padding: 20px 220px;
        gap: 20px;
    }

    .banner{

        flex-direction: column;
        max-width: 600px;
        align-items: start;
        
    }

        .banner-content {
 
            text-align: center;
    padding: 180px 300px; 
    width: 620px;
    height: 550px;
        }
.about{
        padding: 0px 300px; 
    width: 620px;
    height: 550px;
}

hr {
     padding: 0px 300px; 
}

.statistics, items {
    padding: 0px 300px; 
    grid-template-columns: repeat(2, 1fr);
      width: 620px;
    height: 450px;
}

.
.Card {
    align-items: center;
    justify-content: center;
    
 display: grid;
 grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-width: 1200px;
  height: 800px;
    margin: 0 auto;
    gap: 20px;

}

}

@media screen and (max-width: 576px ) {

    .heading {
        align-items: center;
        padding: 20px 220px;
        gap: 20px;
    }

    .banner{

        flex-direction: column;
        max-width: 600px;
        align-items: start;
        
    }

        .banner-content {
 
            text-align: center;
    padding: 180px 300px; 
    width: 620px;
    height: 550px;
        }
.about{
        padding: 0px 300px; 
    width: 620px;
    height: 550px;
}

hr {
     padding: 0px 300px; 
}

.statistics, items {
    padding: 0px 300px; 
    grid-template-columns: repeat(2, 1fr);
      width: 620px;
    height: 450px;
}

.
.Card {
    align-items: center;
    justify-content: center;
    
 display: grid;
 grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-width: 1200px;
  height: 800px;
    margin: 0 auto;
    gap: 20px;

}

}


