:root {
  --weight: 400;
  --primary-gradient: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    --secondary-gradient: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight);
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body {
      margin: 0;
     padding: 0;
         background-color: #1A0B2E;
         color: #FFFFFF;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 314px;
}

.heading h1 {
    font-style: bold;
    font-size: 2.8rem;
}

header .gradient-text {
    background: var(--primary-gradient);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.btn {
      background: var(--primary-gradient);
      border-radius: 80rem;
    padding: 12px 16px;
    font-size: 1rem;
    color: #FFFFFF;
    gap: 4px;
}

.btn:hover {
    background: #00FF88;
    color: #000000;
     transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(165, 37, 37, 0.2);
}
